html,
body,
#box,
.content-box,
.content,
#hide {
	width: 100%;
	height: 100%;
}
.color-white {
	color: #fff;
}
.color-pink {
	color: #ffbfbe;
}
body {
	position: relative;
	background: #ccc;
}
#box {
	position: relative;
	overflow: hidden;
}
.content-box  {
	position: absolute;
	top: 0;
}
.content {
	overflow: hidden;
}
.content1 {
	background: url(../img/bg3.jpg) center center no-repeat;
	background-size: 100% 100%;
}
.content .container {
	padding-top: 150px;
}
.content1 .container p {
	text-indent: 2em;
}
.my-photo {
	width: 200px;
	height: 200px;
	border-radius: 50%;
}
.content2 {
	background: url(../img/bg2.jpg) center center no-repeat;
	background-size: 100% 100%;
}
i.iconfont {
	font-size: 75px;
    color: #b9b6b6;
}
.content3 {
	background: url(../img/bg3.jpg) center center no-repeat;
	background-size: 100% 100%;
	/*background: green;*/
}
.col-md-4, .col-xs-6 {
	margin: 10px 0;
}
.box-circle, .percent {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	border: 10px solid;
}
.box-circle {
	position: relative;
	line-height: 110px;
	border-color: #b7a5a5;
}
.percent {
	position: absolute;
	top: -10px;
	left: -10px;
	border-color: #42394e;
	clip: rect(0 120px 120px 60px);
}
.circle-left {
	transition: transform 2s;
}
.box-h5 .circle-left, .box-c3 .circle-left {
	transform: rotate(90deg);
}
.box-js .circle-left {
	transform: rotate(126deg);
}
.box-jq .circle-left {
	transform: rotate(160deg);
}
.box-vue .circle-left {
	transform: rotate(79.2deg);
}
.box-wx .circle-left {
	transform: rotate(72deg);
}
.content4 {
	background: url(../img/bg4.jpg) center center no-repeat;
	background-size: 100% 100%;
	/*background: yellow;*/
}
.works-item {
	cursor: pointer;
}
.works-item a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.works-item img {
	width: 100%;
}
.works-item a:hover .bg-shadow,
.works-item a:hover .details {
	display: block;
}
.bg-shadow {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .2;
}
.details {
	display: none;
	z-index: 2;
	position: absolute;
	width: 100%;
    left: 0;
    color: #fff;
}
.details-mobil {
	display: none;
}
.content5 {
	background: url(../img/bg5.jpg) center center no-repeat;
	background-size: 100% 100%;
	/*background: pink;*/
}
.my-experience {
	background-color: #fff;
}
.now-date {
	height: 100px;
}
.data-circle {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #F9F9F9;
}
.pdt10 {
	padding-top: 10px;
}
.content6 {
	/*background: purple;*/
	background: url(../img/bg6.jpg) center center no-repeat;
	background-size: 100% 100%;	
}

#hide {
	display: none;
	font-size: 50px;
	padding-top: 100px;
	text-align: center;
}
@media screen and (max-height: 600px) {
    .content .container {
    	padding-top: 60px;
    }
}
@media screen and (max-height: 500px) {
    #box {
		overflow: initial;
	}
	.content {
		overflow: initial;
		height: auto;
	}
}
@media screen and (max-width: 310px) {
	#box {
		display: none;
	}
	#hide {
		display: block;
	}
}

@media screen and (max-width: 470px) {
	.box-circle, .percent {
	    width: 80px;
	    height: 80px;
	    border-radius: 50%;
	    border: 10px solid;
	}
	.box-circle {
		line-height: 60px;
		border-color: #aaa;
	}
	.percent {
	    border-color: #696969;
	    clip: rect(0 80px 80px 40px);
	}
}
@media screen and (max-width: 750px) {
	#box {
		overflow: initial;
	}
	.content {
		overflow: initial;
		height: auto;
	}
	.details-mobil {
		display: block;
	}
}
